.tokenItem {
  position: relative;
  width: 320px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.tokenItemRow {
  display: flex;
  justify-content: start;
  align-items: center;
}

.expandableSection {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;
}

.expandableSection > div {
  overflow: hidden;
}

.showDetails {
  grid-template-rows: 1fr;
}

.expandArrow,
.collapseArrow {
  position: absolute;
  right: 12px;
  top: 12px;
  transition: 300ms ease-in-out;
}

.collapseArrow {
  transition: 300ms ease-in-out;
  transform: rotateX(180deg);
}

.tokenName {
  font-weight: bold;
  color: #333;
}

.tokenBalance {
  color: #555;
}

.tokenPrice {
  color: #888;
}

.tokenValue {
  // font-weight: bold;
  color: #333;
}

// .tokenPerformance {
//   font-size: 0.9rem;
//   margin: 0;
//   line-height: 1.5;
// }

.tokenROI {
  font-weight: bold;
}

.positiveROI {
  color: green;
}

.negativeROI {
  color: red;
}

.tokenLogo {
  height: 24px;
  border-radius: 4px;
  margin-right: 6px;
}
